
@{
    ViewBag.Title = "Index";

}

<div class="row">
    <h2>Examples </h2>
   
    <hr />
    <div class="col-lg-6">
        @Html.Action("StudentLogin")
    </div>
    <div class="col-lg-6">
        @{Html.RenderAction("StudentRegistration");}
    </div>

</div>
