@page "/calculator2"

<h3>Calculator</h3>
<hr />
@*<div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control"
                       id="TextBox"
                       name="TextBox"
                       type="text"
                       @bind="@result" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button @onclick="ButtonSeven" class="btn btn-light">7</button>
            </div>
            <div class="col-md-2">
                <button @onclick="ButtonEight" class="btn btn-primary">8</button>
            </div>
            <div class="col-md-2">
                <button @onclick="ButtonNine" class="btn btn-success ">9</button>
            </div>
            <div class="col-md-2">
                <button @onclick="AddNumbers" class="btn btn-light">+</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button @onclick="ButtonFour" class="btn btn-light">4</button>
            </div>
            <div class="col-md-2">
                <button @onclick="ButtonFive" class="btn btn-primary">5</button>
            </div>
            <div class="col-md-2">
                <button @onclick="ButtonSix" class="btn btn-success ">6</button>
            </div>
            <div class="col-md-2">
                <button @onclick="SubtractNumbers" class="btn btn-primary">−</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button @onclick="ButtonOne" class="btn btn-light">1</button>
            </div>
            <div class="col-md-2">
                <button @onclick="ButtonTwo" class="btn btn-primary">2</button>
            </div>
            <div class="col-md-2">
                <button @onclick="ButtonThree" class="btn btn-success ">3</button>
            </div>
            <div class="col-md-2">
                <button @onclick="MultiplyNumbers" class="btn btn-success ">X</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button @onclick="Button0" class="btn btn-light">Clear</button>
            </div>
            <div class="col-md-2">
                <button @onclick="Reset" class="btn btn-primary">Reset</button>
            </div>
            <div class="col-md-2">
                <button @onclick="Dot" class="btn btn-success ">.</button>
            </div>
            <div class="col-md-2">
                <button @onclick="DivideNumbers" class="btn btn-success ">/</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button @onclick="ButtonEqual" class="btn btn-success ">=</button>
            </div>
        </div>
    </div>*@

@*<div class="row">
    <div class="col-md-3">
        <p>Result</p>
    </div>
    <div class="col-md-4">
        <input readonly @bind="@finalresult" />
    </div>
</div>*@


@code {


}

