
@{
    ViewBag.Title = "Ques5";
}

<h2>ViewModel</h2>
<h4>
    We can create a viewModel when a model object does not contain all the data a view needs. 
</h4>
<br />
<h4>
    <ul>
        <li>
            In ViewModel put only those fields/data that you want to display on the view/page.
        </li>
        <li>
            Since view reperesents the properties of the ViewModel, hence it is easy for rendering and maintenance.
        </li>
       
    </ul>
</h4>
<br />
<h4>
    In this way, ViewModel help us to organize and manage data in a strongly-typed view with more
    flexible way than complex objects like models or ViewBag/ViewData objects.
</h4>
<h4>
    To pass model view to another partial view we can use Html.Partial() or Html.RenderPartial() to achieve it.
</h4>
