
@{
    ViewBag.Title = "Ques4";
}

    <h3>Ques4:Explain Routing and how to use Attribute routing </h3>
<hr />
<h4>
    Routing:Routing is a mechanism in MVC that decides which action method of a controller class to execute.
    Without routing there's no way an action method can be mapped. to a request. 
    Routing is a part of the MVC architecture so ASP.NET MVC supports routing by default.
     <h5>
         Routing can be done in two ways :
         <br />
         1.Conventional routing
         <br />
         2.Attribute routing
         <br />

     </h5>
     <h4> Enabling attribute routing in your ASP.NET MVC5 application is simple, just add a call to routes.
            MapMvcAttributeRoutes() method with in RegisterRoutes() method of RouteConfig. cs file.
            You can also combine attribute routing with convention-based routing.
    </h4>
</h4>

