@model MvcAssign1.Models.Student

@{
    ViewBag.Title = "Index";
}

<h3>Passing Data From Controller to View using ViewBag</h3>
@{
    var data = ViewBag.Message;
}
<h3>Id: @data.StudentID</h3>
<h3>Name: @data.Name</h3>
<h3>Detail: @data.Country</h3>

